因所填表格不满足数据库第一范式，所以需要大量数据处理的工作。

### 1.洗床数据清洗与整合

In [57]:
import pandas as pd
import re
import calendar
import os
from time import sleep
from tqdm.auto import tqdm

# 初始化文件
if os.path.exists('RegenerationRawInfo.csv'):
    os.remove('RegenerationRawInfo.csv')

valid_columns = [2,5,8]
years = [2019,2020,2021,2022]

regeneration_df = pd.DataFrame({'date':[], 'regeneration':[]})
regeneration_df.to_csv("RegenerationRawInfo.csv",mode='a',index=False)


for year in tqdm(years,desc="year"):


    # 遍历路径文件
    for month in tqdm(range(1,13,1),desc="month"):
        file_name = '干熄焦生产记录台账/{0}/干熄焦生产记录台账（{1}月）.xlsx'.format(year,month)
        #file_date_info = re.findall(r'\d{1,}', file_name) # 提取路径文件信息(年、月）
        #month = file_date_info[1]
        # year = file_date_info[0]

        # 返回（当月总周数，当月总天数）
        month_range = calendar.monthrange(int(year),int(month))
        
        # 遍历表单
        for day in range(1,month_range[1]+1,1):  # 从第1天开始至当月最后一天
            try:
                regeneration_date = pd.read_excel(file_name, sheet_name = "{}日".format(day), header=None) # 读取当日表单
            except FileNotFoundError as file_error:
                print(file_error)
                break
                
            if (year < 2020 or ( year==2020 and month <= 9)):
                valid_index1 = 25
                valid_index2 = 26
            else :
                valid_index1 = 27
                valid_index2 = 28
                
            regeneration_cell = regeneration_date.iloc[valid_index1:valid_index2,[2,5,8]].astype(str) # 只保留包含洗床单元格的数据
            
            # 构建日期DataFrame
            regenerate_date = {'date':["{0}-{1}-{2}".format(year, month, day)]} # 再生日期信息
            regeneration_date_df = pd.DataFrame(data=regenerate_date)
        
            # 对单元格遍历，拆分、分割
            for valid_column in valid_columns:
                regeneration_split_cell = regeneration_cell[valid_column].T.str.split(r'\s+', expand=True) # 转置,（以至少1个空格)分割
            
                # 根据拆分的单元格长度，遍历追加入文件
                for l in range(int(regeneration_split_cell.size)):
                    regeneration_split_cell[l] =  regeneration_split_cell[l].astype(str)
                        
                    # 重建洗床信息DataFrame
                    regeneration_split_cell_value = regeneration_split_cell[l].values
                    regeneration_split_cell_value_df = pd.DataFrame(regeneration_split_cell_value)
                    # print(regeneration_split_cell_value_df)
                        
                    frames = [regeneration_date_df, regeneration_split_cell_value_df]
                    result = pd.concat(frames,join="outer",axis=1, ignore_index=True)
                    result.to_csv("RegenerationRawInfo.csv",mode='a',header=False, index=False)

# 剔除空行
regeneration_raw_info = pd.read_csv("RegenerationRawInfo.csv")
regeneration_raw_info.dropna(axis='rows', inplace=True)
regeneration_raw_info.reset_index(drop=True, inplace=True)  # drop=True能避免把旧列插入重排列

regeneration_raw_info.to_csv("RegenerationRawInfo.csv",mode='w', index=False)

year:   0%|          | 0/4 [00:00<?, ?it/s]

month:   0%|          | 0/12 [00:00<?, ?it/s]

month:   0%|          | 0/12 [00:00<?, ?it/s]

month:   0%|          | 0/12 [00:00<?, ?it/s]

month:   0%|          | 0/12 [00:00<?, ?it/s]

[Errno 2] No such file or directory: '干熄焦生产记录台账/2022/干熄焦生产记录台账（12月）.xlsx'

### 2.洗床数据分割

In [46]:
rg_info = pd.read_csv("RegenerationRawInfo.csv")
pd.to_datetime(rg_info.date)

rg_split = rg_info['regeneration'].str.split(r' ?分? ?再生|，|进|置换', regex=True, expand=True)

rg_split['time'] = rg_split[0]
rg_split['cation_resin'] = rg_split[1]

rg_split_draft = pd.concat([rg_info.date, rg_split['time'], rg_split['cation_resin']], axis=1)
rg_split_draft.replace("：",":", inplace=True)
rg_split_draft.to_csv("RegenerationSplitInfo.csv",index=False)

In [47]:
rg_draft = pd.read_csv("RegenerationSplitInfo.csv")

1#阳床

In [169]:
cation_resin_1 = rg_draft.loc[rg_draft.iloc[:,2].str.contains(r'1#阳床',regex=True, na=False)]

# 规范数据格式
cation_resin_1 = cation_resin_1[cation_resin_1['cation_resin'].notnull()].copy()
cation_resin_1.replace(r'：',":", regex=True, inplace=True)
cation_resin_1.replace(r';',":", regex=True, inplace=True)
cation_resin_1.replace(r'点',":", regex=True, inplace=True)

# 统一时间格式
cation_resin_1['time'] = pd.to_datetime(cation_resin_1['date'] +" "+ cation_resin_1['time'])

# 洗床间隔时间
cation_resin_1['time_diff'] = pd.to_datetime(cation_resin_1['time']).diff()

# res1 = cation_resin_1.sort_values('time_diff')
# res1 = res1.drop(res1.groupby('time_diff').tail(1).index)

# res1.sort_values("time_diff", ascending=False, inplace=False)

# cation_resin_1 = cation_resin_1[cation_resin_1[1].notnull()].copy()
# cation_resin_1[0] = pd.to_datetime(cation_resin_1[0], errors='coerce')

cation_resin_1.to_csv("cation_resin_1.csv",index=False)

2#阳床

In [170]:
cation_resin_2 = rg_draft.loc[rg_draft.iloc[:,2].str.contains(r'2#阳',regex=True, na=False)]

# 规范数据格式
cation_resin_2 = cation_resin_2[cation_resin_2['cation_resin'].notnull()].copy()
cation_resin_2.replace(r'：',":", regex=True, inplace=True)
cation_resin_2.replace(r';',":", regex=True, inplace=True)
cation_resin_2.replace(r'点',":", regex=True, inplace=True)
cation_resin_2.replace(r'\.',":", regex=True, inplace=True)
cation_resin_2.replace(r'::',":", regex=True, inplace=True)

# 时间标准化
cation_resin_2['time'] = pd.to_datetime(cation_resin_2['date'] +" "+ cation_resin_2['time'])

# 洗床间隔时间
cation_resin_2['time_diff'] = pd.to_datetime(cation_resin_2['time']).diff()

# cation_resin_2 = cation_resin_1[cation_resin_2[1].notnull()].copy()
# cation_resin_2[0] = pd.to_datetime(cation_resin_2[0], errors='coerce')

cation_resin_2.to_csv("cation_resin_2.csv",index=False)

3#阳床

In [171]:
cation_resin_3 = rg_draft.loc[rg_draft.iloc[:,2].str.contains(r'3#阳',regex=True, na=False)]

# 规范数据格式
cation_resin_3 = cation_resin_3[cation_resin_3['cation_resin'].notnull()].copy()
cation_resin_3.replace(r'：',":", regex=True, inplace=True)
cation_resin_3.replace(r';',":", regex=True, inplace=True)
cation_resin_3.replace(r'点',":", regex=True, inplace=True)
cation_resin_3.replace(r'\.',":", regex=True, inplace=True)
cation_resin_3.replace(r'::',":", regex=True, inplace=True)

# 时间标准化
cation_resin_3['time'] = pd.to_datetime(cation_resin_3['date'] +" "+ cation_resin_3['time'])

# 洗床间隔时间
cation_resin_3['time_diff'] = pd.to_datetime(cation_resin_3['time']).diff()

# cation_resin_2 = cation_resin_1[cation_resin_2[1].notnull()].copy()
# cation_resin_2[0] = pd.to_datetime(cation_resin_2[0], errors='coerce')

cation_resin_3.to_csv("cation_resin_3.csv",index=False)

### 洗床间隔时长可视化(matplotlib)

### 3.异常数据处理

In [172]:
test1 = cation_resin_1.sort_values("time_diff", ascending=False, inplace=False)
test1.to_csv('test1.csv', index=False)

In [173]:
test2 = cation_resin_2.sort_values("time_diff", ascending=False, inplace=False)
test2.to_csv('test2.csv', index=False)

In [174]:
test3 = cation_resin_3.sort_values("time_diff", ascending=False, inplace=False)
test3.to_csv('test3.csv', index=False)

2021-01-14 中间间隔143天40小时系1#阳床树脂泄漏维护，故剔除该行。

In [175]:
cation_resin_1.drop([cation_resin_1['time_diff'].idxmax()], axis=0, inplace=True)

#### 1#阳床异常数据处理：
1.删除使用时长大于72h，小于8h的数据。（床体维护）

2.数据乘以0.8备用系数。（床体备用）

In [176]:
# 1#阳床间隔单位为小时
cation_resin_1['time_diff'] = (cation_resin_1['time_diff'].dt.total_seconds() / 60 / 60 ).round(2)

In [177]:
cation_resin_1.describe()

        time_diff
count  857.000000
mean    36.015589
std     19.787502
min      3.480000
25%     22.150000
50%     33.580000
75%     44.400000
max    170.170000

In [178]:
authentic_cs_1 = cation_resin_1.loc[(cation_resin_1['time_diff'] < 60) & (cation_resin_1['time_diff'] > 6)]
authentic_cs_1.loc[(authentic_cs_1['time_diff'] > 50 )]
# cation_resin_1 = cs_1_authentic.copy()
# authentic_cs_1_df = cation_resin_1.sort_values("date", ascending=False)
authentic_cs_1.to_csv("authentic_cs_1.csv", index=False)

In [179]:
authentic_cs_1.describe()

        time_diff
count  772.000000
mean    31.792889
std     12.672745
min      6.500000
25%     21.500000
50%     31.600000
75%     40.980000
max     59.880000

In [180]:
import pandas as pd

data = pd.read_csv('cation_resin_1.csv', usecols=['date', 'time_diff'])

pd.Timedelta(data['time_diff'])

data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d')

data = data.set_index('date')

dfM = data.resample('M').sum()
dfM

ValueError: Value must be Timedelta, string, integer, float, timedelta or convertible, not Series

In [69]:
cation_resin_2.sort_values("time_diff", ascending=False, inplace=False)

            date                time cation_resin        time_diff
6314   2020-8-12 2020-08-12 01:10:00         2#阳床 16 days 21:20:00
6089   2020-7-19 2020-07-19 00:32:00         2#阳床 15 days 01:46:00
5046    2020-4-1 2020-04-01 19:20:00         2#阳床 11 days 05:02:00
5972    2020-7-3 2020-07-03 22:46:00         2#阳床  9 days 02:16:00
2483   2019-7-19 2019-07-19 22:40:00         2#阳床  7 days 15:28:00
...          ...                 ...          ...              ...
14356   2022-8-7 2022-08-07 20:45:00         2#阳床  0 days 05:32:00
367     2019-2-1 2019-02-01 21:00:00         2#阳床  0 days 04:35:00
1016    2019-3-9 2019-03-09 14:33:00         2#阳床  0 days 03:53:00
14888  2022-10-6 2022-10-06 20:27:00         2#阳床  0 days 03:16:00
4       2019-1-1 2019-01-01 07:35:00         2#阳床              NaT

[904 rows x 4 columns]

In [70]:
cation_resin_2.describe()

                       time_diff
count                        903
mean   1 days 13:55:17.275747508
std    1 days 03:19:43.607115775
min              0 days 03:16:00
25%              1 days 00:24:30
50%              1 days 09:27:00
75%              1 days 19:45:00
max             16 days 21:20:00

In [71]:
cation_resin_3.sort_values("time_diff", ascending=False, inplace=False)

             date                time cation_resin        time_diff
3477   2019-11-14 2019-11-14 02:45:00         3#阳床 20 days 13:55:00
3608   2019-11-26 2019-11-26 05:05:00         3#阳床 12 days 02:20:00
4369    2020-1-27 2020-01-27 18:30:00         3#阳床  8 days 10:00:00
5175    2020-4-13 2020-04-13 02:40:00         3#阳床  7 days 14:18:00
4827     2020-3-9 2020-03-09 12:50:00         3#阳床  6 days 22:20:00
...           ...                 ...          ...              ...
1305    2019-3-27 2019-03-27 00:35:00         3#阳床  0 days 06:05:00
2383    2019-7-10 2019-07-10 05:43:00         3#阳床  0 days 05:34:00
13532   2022-5-21 2022-05-21 17:32:00         3#阳床  0 days 03:32:00
10953  2021-10-21 2021-10-21 08:30:00         3#阳床  0 days 01:32:00
1        2019-1-1 2019-01-01 00:43:00         3#阳床              NaT

[748 rows x 4 columns]

In [72]:
cation_resin_3.describe()

                       time_diff
count                        747
mean   1 days 21:54:34.457831325
std    1 days 07:19:58.972272138
min              0 days 01:32:00
25%              1 days 03:11:00
50%              1 days 16:20:00
75%              2 days 08:14:00
max             20 days 13:55:00

从更换树脂当天至未来的某一天，当原树脂洗床所多消耗酸的成本可以覆盖更换树脂的成本时，就值得更换树脂。

### 1.制水量整合

In [ ]:
import pandas as pd
import re
import calendar
import os
from time import sleep
from tqdm.auto import tqdm

# 初始化文件
if os.path.exists('WatarProductionRawInfo.csv'):
    os.remove('WatarProductionRawInfo.csv')
    
# 数据列
count_max_col = 8
count_min_col = 2
     
# 数据行    
valid_index1 = 3
valid_index2 = 4

years = [2019,2020,2021,2022]

wp_df = pd.DataFrame({'date':[], 'capacity':[]})
wp_df.to_csv("WatarProductionRawInfo.csv",mode='a',index=False)


# 遍历路径
for year in tqdm(years,desc="year"):


    # 遍历文件
    for month in tqdm(range(1,13,1),desc="month"):
        file_name = '干熄焦生产记录台账/{0}/干熄焦生产记录台账（{1}月）.xlsx'.format(year,month)

        # 返回（当月总周数，当月总天数）
        month_range = calendar.monthrange(int(year),int(month))
        
        # 遍历表单
        for day in range(1,month_range[1]+1,1):  # 从第1天开始至当月最后一天
            try:
                wp_sheet_df = pd.read_excel(file_name, sheet_name = "{}日".format(day), header=None) # 读取当日表单
            except FileNotFoundError as file_error:
                print(file_error)
                break
                
            # wp_sheet_df = pd.DataFrame(data=wp_sheet)    
              
            # 当日制水量
            occupy = wp_sheet_df[count_max_col][valid_index1] - wp_sheet_df[count_min_col][valid_index1]
            delivery = wp_sheet_df[count_max_col][valid_index2] - wp_sheet_df[count_min_col][valid_index2]
            daily_capacity_sum = occupy + delivery
            daily_capacity = {'capacity':[daily_capacity_sum]}
            daily_capacity_df = pd.DataFrame(data=daily_capacity)
            
            # 当日日期
            wp_date= {'date':["{0}-{1}-{2}".format(year, month, day)]} # 再生日期信息
            wp_date_df = pd.DataFrame(data=wp_date)
            
            # 追加入DataFrame
            wp_daily = pd.DataFrame([[wp_date_df, daily_capacity_df]], columns=['date', 'capacity'])
            
            # 直接插入csv文件
            wp_df = pd.concat([wp_date_df, daily_capacity_df], join="outer",axis=1, ignore_index=True)
            wp_df.to_csv("WatarProductionRawInfo.csv",mode='a',header=False, index=False)
            

# # 剔除空行
# wp_raw_info = pd.read_csv("WatarProductionRawInfo.csv")
# wp_info.dropna(axis='rows', inplace=True)
# wp_info.reset_index(drop=True, inplace=True)  # drop=True能避免把旧列插入重排列

# wp_raw_info.to_csv("WatarProductionRawInfo.csv",mode='w', index=False)

year:   0%|          | 0/4 [00:00<?, ?it/s]

month:   0%|          | 0/12 [00:00<?, ?it/s]

month:   0%|          | 0/12 [00:00<?, ?it/s]

month:   0%|          | 0/12 [00:00<?, ?it/s]

month:   0%|          | 0/12 [00:00<?, ?it/s]

### 2.制水量数据清洗

In [74]:
wp_data = pd.read_csv("WatarProductionRawInfo.csv")

# 得分异常值
wp_data_zscore = wp_data['capacity'].copy()
z_score = (wp_data_zscore - wp_data_zscore.mean()) / wp_data_zscore.std()
wp_data_zscore['expection'] = z_score.abs() > 2.2
wp_data_zscore.to_csv("test.csv", index=False)
# wp_data_score == True

In [101]:
wp_expection_data = wp_data.loc[(wp_data['capacity'] > 10000) | (wp_data['capacity'] < 0)]
wp_expection_data = wp_expection_data.copy()
wp_expection_data.sort_values("date", ascending=False, inplace=True)
wp_expection_data

            date  capacity
1401   2022-11-2     -80.0
946     2021-8-4   -7320.0
968    2021-8-26 -138450.0
833    2021-4-13  451013.0
777    2021-2-16  267140.0
1018  2021-10-15  -78280.0
755    2021-1-25   10436.0
748    2021-1-18   45972.0
630    2020-9-22   10215.0
583     2020-8-6   -9725.0
604    2020-8-27   -4500.0
597    2020-8-20  -22870.0
570    2020-7-24   13622.0
558    2020-7-12   20697.0
533    2020-6-17   -4020.0
502    2020-5-17  383360.0
486     2020-5-1 -116126.0
464     2020-4-9  -26131.0
473    2020-4-18   -2024.0
396     2020-2-1 -156138.0
672    2020-11-3   -5581.0
693   2020-11-24   -5080.0
395    2020-1-31  492129.0
249     2019-9-7  -20630.0
272    2019-9-30   29016.0
253    2019-9-11 -134535.0
242    2019-8-31   72450.0
232    2019-8-21   12008.0
231    2019-8-20   25074.0
229    2019-8-18  -63630.0
185     2019-7-5    -150.0
338    2019-12-5  -16373.0
364   2019-12-31 -580114.0
360   2019-12-27  -87670.0
344   2019-12-11   -5110.0
307    2019-11-4   22619.0
331   2019-11-28  104590.0